.container {
  margin: 0 auto;
  max-width: 768px; /* ipad */
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    flex-direction: row;
    column-gap: 25px;
    row-gap: 0;
  }
}
